
beautifulsoup4==4.14.3
faiss-cpu==1.13.2

langchain==1.2.6
langchain-core==1.2.7
langchain-community==0.4.1
langchain-ollama==1.0.1
langchain-text-splitters==1.1.0

ollama==0.6.1

python-docx==1.2.0
lxml==6.0.1

unstructured==0.18.27
unstructured-client==0.42.8
unstructured.pytesseract==0.3.15
unstructured_inference==1.2.0
